src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:json="http://www.mulesoft.org/schema/mule/json" 
      xmlns:db="http://www.mulesoft.org/schema/mule/db" 
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	  xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	  xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	  xmlns:spring="http://www.springframework.org/schema/beans" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

	<http:listener-config name="HTTP_Listener_8081" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration" />

	<spring:beans>
		<spring:bean id="Bean" name="Bean" class="com.mule.connect.Database" />
	</spring:beans>

	<db:derby-config name="Derby_Configuration" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration" />

	<jms:activemq-connector name="Active_MQ" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ" />
    <ws:consumer-config name="Web_Service_Consumer" service="ReportService" port="ReportService" serviceAddress="https://adc-fap0566-hcm.oracledemos.com/xmlpserver/services/v2/ReportService" wsdlLocation="https://adc-fap0566-hcm.oracledemos.com/xmlpserver/services/v2/ReportService?wsdl" doc:name="Web Service Consumer"/>

	<flow name="mavenFlow">
		<http:listener config-ref="HTTP_Listener_8081" path="/hello" allowedMethods="GET" doc:name="HTTP" />
		<set-payload value="#['Hello World']" doc:name="Set Payload" />
	</flow>

	<flow name="retrieveFlights">
		<http:listener config-ref="HTTP_Listener_8081" path="/flights" allowedMethods="GET" doc:name="HTTP" />
		<db:select config-ref="Derby_Configuration" doc:name="Invoke Flights database">
			<db:parameterized-query><![CDATA[select * from FLIGHTS]]></db:parameterized-query>
		</db:select>
		<json:object-to-json-transformer doc:name="Object to JSON" />
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
		<jms:outbound-endpoint queue="flights" connector-ref="Active_MQ" doc:name="Send to JMS" />
	</flow>

	<flow name="logFlights">
		<jms:inbound-endpoint queue="flights" connector-ref="Active_MQ" doc:name="Recieve From JMS" />
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
	</flow>
	
	<flow name="soapConsumer">
        <http:listener config-ref="HTTP_Listener_8081" path="/soap" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="runReport" doc:name="Web Service Consumer"/>
	</flow>
</mule>
